.logo {
  background-color: black;
}
.logo nav {
  line-height: 65px;
}
.logo nav a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
  padding: 20px;
}
.logo nav a:hover {
  background-color: rgb(235, 232, 232);
  border-radius: 15px;
  background-color: green;
}
